[submodule "submodules/vllm_service"]
	path = submodules/vllm_service
	url = https://github.com/AIQ-Kitware/vllm_service.git
[submodule "submodules/aiq-magnet"]
	path = submodules/aiq-magnet
	url = https://github.com/AIQ-Kitware/aiq-magnet.git
[submodule "submodules/helm"]
	path = submodules/helm
	url = https://github.com/AIQ-Kitware/helm.git
